    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  
  #particles-js {
    background-color: black;
  }

  header {
    display: flex; 
    justify-content: flex-end; 
    padding: 1vw 1vh;
    height: 60px;
  }
  
  .contact {
      display: flex;
  }
  .media{
    padding-right: 1rem;
  }
  .c-mouse-vertical-carousel{
    position: absolute; 
    top: 60vh; 
    left: 80vw;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  .c-mouse-vertical-carousel__bg-img{
    position: absolute;
    margin-top:-30vh;
    margin-left: -35vw;
    height: 70vh;
    width: 80vw;
    max-width: 100%;
    transform: translate(-50%, -50%);
  }
  
  .c-mouse-vertical-carousel__title {
    font-size: 36px;
    font-family: fantasy;
  }
  
  h2{
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    font-size: 2rem;
  } 
  
  button{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 100px;
    border: 2px solid white;
    cursor: pointer;
    color: black;
  } 
  
  .media {
    cursor: pointer;
  }
  
  .Description {
    margin-bottom: 5%;
  }

  #photo {
    max-height: 10rem;
  }
  video {
    position: absolute;
    height: auto;
    width: 45vw;
    object-fit: cover;
    margin-left: -11vw;
    margin-top: -1rem;
  }
.QUI-SUIS-JE {
  display: flex;
  margin-left: -11vw;
  gap: 2rem;
  width: 220%;
}
 .QUI-SUIS-JE p {
  white-space: normal;
  line-height: 1.6rem;
  font-size: 1.3rem;
}

.Description {
  font-size: 1.2rem;
  white-space: normal;
  width: 200%;
  margin-bottom: 2rem;
  margin-top: -2rem;
  margin-left: -11vw;
}

.DescriptionL2M {
  font-size: 1rem;
  white-space: normal;
  width: 200%;
  margin-bottom: 2.5rem;
  margin-top: -2rem;
  margin-left: -11vw;
}

.DescriptionL2M2 {
  margin-top: -2rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  white-space: normal;
  width: 200%;
  margin-left: -9vw;
}
.L2M {
  position: absolute;
  height: auto;
  width: 35vw;
  object-fit: cover;
  margin-left: -6vw;
  margin-top: -1rem;
}